Flask==3.0.2
gevent==24.2.1
numpy==1.26.4
pandas==2.2.0
python_dateutil==2.8.2
scipy==1.12.0
tensorflow==2.15.0
#tensorflow_macos==2.15.0
Werkzeug==3.0.1
#git+https://github.com/keras-team/keras-preprocessing.git@master
#git+https://github.com/keras-team/keras-preprocessing.git -q
